


{{!-- NEW HOMEPAGE --}}
<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    {{!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> --}}
      <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="/assets/css/pogo-slider.min.css">
	<!-- Site CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body style="background-color: #fafafa;" id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	<!-- LOADER -->
     <!-- <div id="preloader">
		<div class="loader">
			<img src="images/preloader.gif" alt="" />
		</div>
    </div>end loader -->
    <!-- END LOADER -->
	
	<!-- Start top bar -->
<!-- 	<div class="main-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="left-top">
						<a class="new-btn-d br-2" href="#"><span>Book Appointment</span></a>
						<div class="mail-b"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> demo@gmail.com</a></div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="wel-nots">
						<p>Welcome to Our Health Lab!</p>
					</div>
					<div class="right-top">
						<ul>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- End top bar -->
	
	<!-- Start header -->
	<header class="top-header" >
		<nav class="navbar header-nav navbar-expand-lg" >
            <div class="container">
				<a class="navbar-brand" href=""><img src="/Images/logo.png" height="65px" width="225px" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="#home">Home</a></li>
                        <li><a class="nav-link" href="#about">Project Description</a></li>
						<li><a class="nav-link" href="#contact">Contact</a></li>
						<li><a class="nav-link" href="#team">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	</header>
	<!-- End header -->
	
	<!-- Start Banner -->
	<div class="ulockd-home-slider"  >
		<div class="container-fluid">
			<div class="row">
				<div class="pogoSlider" data-pause="false" id="js-main-slider">

					<div class="pogoSlider-slide" data-transition="fade" data-duration="500"  style="background-image:url(/Images/homepageimage.jpg);">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Welcome to IMN Pneumonia Detection Tool</h1>
									<a href="#team" class="btn">Get Started</a>
							</div>
						</div>
					</div>
					
					<div class="pogoSlider-slide" data-transition="fade" data-duration="500" style="background-image:url(/Images/slider-02.jpg);" >
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Learn More About Our Project</h1>
								
								<a href="#about" class="btn">Project Description</a>
							</div>
						</div>
					</div>
				
					<div class="pogoSlider-slide" data-transition="fade" data-duration="500" style="background-image:url(/Images/contact.jpg); ">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Need Additional Help ?</h1>
								<p style="font-size: 22px;">Feel Free to Contact Us</p>
								<a href="#contact" class="btn">Contact Us</a>
							</div>
						</div>
						
					</div>
				</div><!-- .pogoSlider -->
			</div>
		</div>
	</div>
	<!-- End Banner -->
	

	
	
	<!-- Start Team -->
	<div id="team" class="team-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Choose Your Department</h2>
						
					</div>
				</div>
			</div>
			
			<div style="margin-left:110px;" class="row">
                <div class="col-md-4 col-sm-6" >
                    <div class="our-team" >
                        <div class="pic">
                            <img src="/Images/radiographer.jpg"  alt="">
                        </div>
                        <div class="team-content" >
                            <h3 class="title"><strong>Radiographer Department</strong></h3>
                            <span class="post"><button id="radiographerLogin"  style="color: blue;background-color:rgb(243, 243, 243);" class="btn btn-common" id="" type="submit">Sign In</button></span>
                      
                        </div>
                    </div>
                </div>

                <div  style="margin-left:240px;" class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic" >
                            <img src="/Images/new.jpg"   alt="">
                        </div>
                        <div class="team-content">
                            <h3 class="title"><strong>Radiologist Department</strong></h3>
                            <span class="post"><button id="radiologistLogin"style="color: blue;background-color:rgb(243, 243, 243);" class="btn btn-common" id="" type="submit">Sign In</button></span>
                          
                        </div>
                    </div>
                </div>

               
            </div>
			
		</div>
	</div>
	
	<!-- End Team -->

		<!-- Start About us -->
	<div id="about" class="about-box">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title-box">
							<h2>Project Description</h2>
							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<h2>IMN Pneumonia Detection Tool </h2>
								<p style="text-align: justify; font-family: arial;">Pneumonia is a infection that affects the air sacs that is the alveoli at the end of the airways in lungs. The infection disturbs the normal procedure of delivering oxygen from the lungs into the blood and the removal of carbon dioxide from blood. Therefore if the disease is not diagnosed or detected in earlier stages it can turn lethal and have devastating effects on the person.However diagnosis of pneumonia requires chest X-Rays and highly-trained radiologists to interpret the X-Ray images. Detecting pneumonia using x-rays can take significant amount of time and getting results with higher accuracy can be a challenge because of complexities present during the interpretation stage especially in rural and remote areas.
								</p>
								<p style="text-align: justify; font-family: arial;">Our project aims to provide assistance to radiologist in their diagnosis and helps them provide a second opinion. Using convolutional neural networks we developed a prediction model which will act as an assistant for the radiologist in their diagnosis process. Also capable to deliver the diagnosis reports to the respective patients after the approval of radiologist and maintain the records of each patient with convivence for faster retrieval at any point of time by the medical team. We believe that presence of radiologists is the topmost necessity to properly diagnose any kind of thoracic disease and our system cannot replace them. </p>
								
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="about-m">
									<ul id="banner">
										<li>
											<img src="/Images/pneumonia.jpeg" height="450px" alt="">
										</li>
									<!-- 	<li>
											<img src="images/about-img-02.jpg" alt="">
										</li>
										<li>
											<img src="images/about-img-03.jpg" alt="">
										</li> -->
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About us -->
	
	
	
	<!-- Start Contact -->
	<div id="contact" class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Contact Us</h2>
						  <div id="compusory"></div>
					</div>
				</div>
			</div>
          
			<div class="row">
				
				<div class="col-lg-12 col-xs-12">
				  <div class="contact-block">
					<form >
					  <div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" style="color: black;" class="form-control" id="name"  placeholder="Your Name">
							
							</div>                                 
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" style="color: black;" placeholder="Your Email" id="email" class="form-control"  >
                                <div id="errorEmail"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" style="color: black;" placeholder="Your number" id="number" class="form-control" >
								 <div id="errorPhone"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group"> 
								<textarea style="color: black;" class="form-control" id="message" placeholder="Your Message" rows="8"></textarea>
								
							</div>
							<div class="submit-button text-center">
								<button class="btn btn-common" id="submit" type="submit">Send Message</button>
								<div id="msgSubmit" class="h3 text-center hidden"></div> 
								<div class="clearfix"></div> 
							</div>
						</div>
					  </div>            
					</form>
				  </div>
				</div>
				
				
				<div class="col-lg-12 col-xs-12">
					<div class="left-contact">
						<div class="title-box">
								<h2>Contact Details</h2>
						
						</div>
					
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-location-arrow" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Address</h4>
								<p style="font-family: arial;">Don Bosco Institute Of Technology, Premier Automobiles Road Opp. HDIL Premier Exotica, Kurla(W), Maharashtra 400070</p>
							</div>
						</div>
						<div  class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Email</h4>
								<p style="font-family: arial;">meldondcunha10@gmail.com</p>
								<p style="font-family: arial;">ivanfrancis1234@gmail.com</p>
								<p style="font-family: arial;">nimesh.naik19@gmail.com</p>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Phone Number</h4>
								<p style="font-family: arial;">7798918184</p>
								<p style="font-family: arial;">9004811564</p>
								<p style="font-family: arial;">9892500239</p>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
	<!-- End Contact -->
	
	
	
	
	<a href="#" id="scroll-to-top" class="new-btn-d br-2" style="background-color:#4a77ff;"><i style="color:white;" class="fa fa-angle-up"></i></a>

	<!-- ALL JS FILES -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/jquery.pogo-slider.min.js"></script> 
	<script src="/assets/js/slider-index.js"></script>
	<script src="/assets/js/smoothscroll.js"></script>
	<script src="/assets/js/TweenMax.min.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- <script src="js/form-validator.min.js"></script> -->
    <!-- <script src="js/contact-form-script.js"></script> -->
	<script src="/assets/js/isotope.min.js"></script>	
	<script src="/assets/js/images-loded.min.js"></script>	
    <script src="/assets/js/custom.js"></script>
    <script src="/radiographer/renderLogin.js"></script>
</body>
</html>

{{!-- END --}}